{% extends "base.html" %}
{% block content %}

<!-- Main Content -->
<div class="container">

    <div class="row">
        <!-- Widget Item -->
        <div class="col-md-12">
            <div class="widget-area-2 proclinic-box-shadow">
                <h3 class="widget-title">Add Payment</h3>
                <form method="POST" action="{% url "add_payment" %}">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="patient-name">Patient Name</label>
                            <select class="form-control" name="p">
                                {% for i in p%}
                                <option value="{{i.patient_name}}">{{i.patient_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="department">Department</label>
                            <select class="form-control" name="s">
                                {% for i in s%}
                                <option value="{{i.specs}}">{{i.specs}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="doctor-name">Doctor Name</label>
                            <select class="form-control" name="d">
                                {% for i in d%}
                                <option value="{{i.doctor_name}}">{{i.doctor_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="adminssion-date">Date</label>
                            <input type="date" name="date" placeholder="Adminssion Date" class="form-control" id="adminssion-date">
                        </div>		
                        <div class="form-group col-md-12">
                            <h4>Services</h4>										
                        </div>
                        <div class="form-group col-md-6">
                            <label for="service-name">Service Name</label>
                            <input type="text" name="services" placeholder="Service Name" class="form-control" id="service-name">
                        </div>	
                        <div class="form-group col-md-6">
                            <label for="treatment-cost">Cost of Treatment</label>
                            <input type="text"  name="amount" placeholder="Cost of Treatment" class="form-control" id="treatment-cost">
                        </div>                 
                        <div class="form-group col-md-12">
                            <h4>Payment</h4>										
                        </div>
                        
                        <div class="form-group col-md-3">
                            <label for="payment-type">Payment Type</label>
                            <select class="form-control" name="pay_type" id="payment-type">
                                <option>Check</option>
                                <option>Card</option>
                                <option>Cash</option>
                            </select>
                        </div>	
                        <div class="form-group col-md-3">
                            <label for="card-check">Card/Check No</label>
                            <input type="text" placeholder="Card/Check No" class="form-control" name="cardcheck_no" id="card-check">
                        </div>
                        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>		
                        <div class="form-group col-md-6 mb-3">
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </div>
                    												
                </form>
                <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                <form  name="myForm" method="POST" action="https://www.example.com/payment/success/">
                    <script
                        src="https://checkout.razorpay.com/v1/checkout.js"
                        data-key="rzp_test_2JlOmslRAoND06" // Enter the Test API Key ID generated from Dashboard → Settings → API Keys
                        data-amount=50000 // Amount is in currency subunits. Hence, 29935 refers to 29935 paise or ₹299.35.
                        data-currency="INR"// You can accept international payments by changing the currency code. Contact our Support Team to enable International for your account
                        data-order_id="{{payments.pay_id}}"// Replace with the order_id generated by you in the backend.
                        data-buttontext="Pay with Razorpay"
                        data-name="AarogyaPlus"
                        data-description="Doctor fees"
                        data-image="https://example.com/your_logo.jpg"
                        data-prefill.name="Pritam"
                        data-prefill.email="Aarogya.helpdesk@gmail.com"
                        data-theme.color="#F37254"
                    ></script>
                    <input type="hidden" custom="Hidden Element" name="hidden"/>
                </form>
            </div>
        </div>
        <!-- /Widget Item -->
       
    </div>
</div>
<!-- /Main Content -->

{% endblock  %}