{% extends "base.html" %}
{% block content  %}

<!-- Main Content -->
<div class="container">

    <div class="row">
        <!-- Widget Item -->
        <div class="col-md-12">
            <div class="widget-area-2 proclinic-box-shadow">
                <h3 class="widget-title">Add Appointment</h3>
                <form method="post" action={% url "add_appointment" %} >
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="department">Department</label>
                            <select class="form-control" id="department" name="dept">
                                <option>Neuro</option>
                                <option>Ortho</option>
                                <option>General</option>
                                <option>Maternity</option>
                                <option>Cardio/Heart</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="doctor-name">Doctor Name</label>
                            <input type="text" placeholder="Doctor Name" class="form-control" id="doctor-name" name="doc_name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="appointment-date">Appointment Date</label>
                            <input type="date" placeholder="Appointment Date" class="form-control" id="appointment-date" name="apt_date">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="time-slot">Time Slot</label>
                            <select class="form-control" id="time-slot" name="time_slot">
                                <option>10AM-11AM</option>
                                <option>11AM-12pm</option>
                                <option>12PM-01PM</option>
                                <option>2PM-3PM</option>
                                <option>3PM-4PM</option>
                                <option>4PM-5PM</option>
                                <option>6PM-7PM</option>
                                <option>7PM-8PM</option>
                                <option>8PM-9PM</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="problem">Problem</label>
                            <textarea placeholder="Problem" class="form-control" id="problem" name="problem" rows="3"></textarea>
                        </div>
                                                            
                        <div class="form-check col-md-12 mb-2">
                            <div class="text-left">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="ex-check-2">
                                    <label class="custom-control-label" for="ex-check-2">Please Confirm</label>
                                </div>
                            </div>
                        </div>
                        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
                        <div class="form-group col-md-6 mb-3">
                            <a class="btn btn-info btn-lg" href="{%url 'add_payment'%}">Make Payment</button>
                        </div>
                        <div class="form-group col-md-6 mb-3">
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /Widget Item -->
    </div>
</div>
<!-- /Main Content -->
<script>
    var options = {
        "key": "YOUR_KEY_ID", // Enter the Key ID generated from the Dashboard
        "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Acme Corp",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": "order_IluGWxBm9U8zJ8", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response){
            alert(response.razorpay_payment_id);
            alert(response.razorpay_order_id);
            alert(response.razorpay_signature)
        },
        "prefill": {
            "name": "Gaurav Kumar",
            "email": "gaurav.kumar@example.com",
            "contact": "9000090000"
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response){
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
    });
    document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }
    </script>
{% endblock  %}